@model IEnumerable<SeniorSolutionsWeb.Models.ServiceRequest>

@{
    ViewData["Title"] = "Your Request";
    var residentId = User.Claims.Single(user => user.Type == "residentId").Value;
}

<h1>Your Request</h1>

<p>
    @{
        if (residentId != "-1")
        {
            <a asp-controller="ServiceRequests" asp-action="Create" class="btn btn-primary">Create New</a>
        } else
        {
            <div class="alert alert-warning">Employees are not allowed to create new service requests.</div>
        }
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAssignedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAssignedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-controller="ServiceRequests" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="ServiceRequests" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="ServiceRequests" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
