@model SeniorSolutionsWeb.Models.Resident

@{
    ViewData["Title"] = "EditResidents";
}

<div class="row">
    <partial name="_ManagerSidebar.cshtml"></partial>
    <div id="content" class="bg-light col-lg">
        <dl>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.ResidencyStatus)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.ResidencyStatus)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.ResidentLeaseNumber)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.ResidentLeaseNumber)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.DateAccountCreated)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.DateAccountCreated)
            </dd>
        </dl>
        <form asp-action="DeleteResidents">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="ListResidents">Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
