@model IEnumerable<SeniorSolutionsWeb.Models.InviteViewModel>
<div class="row">
    <div class="col-3">
        <partial name="_ResidentSideBar.cshtml" />
    </div>
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
        @if(Model.Count() == 0)
        {
            <tr>
              <td scope="row" colspan="5" class="text-center">No Current Invites</td>
            </tr>        
        }
        else
        {
            @foreach(var mod in Model)
            {
                <tr>
                @if (mod.ClubID != null && mod.RoleID != null)
                {
                        <th scope="row">@mod.ClubName</th>
                        <td>Club</td>
                        <td>@mod.RoleName</td>
                }
                else if (mod.EventID != null && mod.EventRoleID != null)
                {
                        <th scope="row">@mod.EventName</th>
                        <td>Event</td>
                        <td>@mod.EventRoleName</td>
                }
                @using (Html.BeginForm("Accept", "Account", FormMethod.Post))
                {
                    @Html.Hidden("ID", mod.ID)
                    <td><button id="Accept" class="btn btn-primary d-flex justify-content-center" type="submit">Accept</button></td>
                }
                @using (Html.BeginForm("Decline", "Account", FormMethod.Post))
                {
                    @Html.Hidden("ID", mod.ID)
                    <td><button id="Decline" class="btn btn-primary d-flex justify-content-center" type="submit">Decline</button></td>
                }

                </tr>
            }
        }
        </table>
    </div>
</div>