@model IEnumerable<SeniorSolutionsWeb.Models.ClubViewModel>

@{
    ViewData["Title"] = "Discover Clubs";
    Layout = "_Layout";
}
@{
    List<int> Searched_Club = new List<int>();
    Console.WriteLine("The Current Capacity of the List is:{0}", Searched_Club.Capacity);
}
<script src="~/js/jquery-3.6.0.js"></script>
<link href="~/css/select2.css" rel="stylesheet" />
<script src="~/js/select2.full.min.js" defer></script>

<div class="row">
    <div class="col-3">
        <div class="card sticky-top">
            <div class="card-header">
                <h6>Targeted Search</h6>
            </div>
            <div class="card-body">
                <form>
                      <div class="form-group">
                        <label for="InputClubID">Input the <b>Club ID</b></label>
                        <input type="text" class="form-control" id="InputClubID" aria-describedby="ClubDescribe" placeholder="C-###-###">
                        <small id="ClubDescribe" class="form-text text-muted">A <b>Club ID</b> is unique to a single Club</small>
                      </div>
                </form>
                <hr>
                <form>
                      <div class="form-group">
                        <label for="InputClubID">Input the <b>Club Name</b></label>
                        <input type="text" class="form-control" id="InputClubID" aria-describedby="ClubDescribe" placeholder="Enter a Club Name">
                        <small id="ClubDescribe" class="form-text text-muted">A <b>Club Name</b> can belong to multiple clubs</small>
                      </div>
                </form>
                <hr>
                <form>
                      <div class="form-group">
                        <label for="InputClubID">Enter the Club <b>Creation Date</b></label>
                        <input type="date" class="form-control" id="InputClubID" aria-describedby="ClubDescribe">
                        <small id="ClubDescribe" class="form-text text-muted">May be used along with <b>Club Name</b></small>
                      </div>
                </form>
            </div>
            <div class="card-header">
                <h6>Search by Meetings</h6>
            </div>
            <div class="card-body">
                <form>
                      <div class="form-group">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Select a Day</option>
                              <option value="1">Sunday</option>
                              <option value="2">Monday</option>
                              <option value="3">Tuesday</option>
                              <option value="4">Wednesday</option>
                              <option value="5">Thursday</option>
                              <option value="6">Friday</option>
                              <option value="7">Saturday</option>
                          </select>
                      </div>
                </form>
                <hr>
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    //@Html.DropDownList("ddlCustomers")
                    @Html.DropDownList("PopulateLocals", new SelectList((System.Collections.IEnumerable) ViewData["Loc_Name"])
                    , "Any Location", new SelectList((System.Collections.IEnumerable) ViewData["Loc_Val"]))                    
                    <br>
                    <br>
                }

            </div>
            <div class="card-header">
                <h6>Search by Time</h6>
            </div>
            <div class="card-body">
                <div class="wrapper_filter">
                    <div class="container_filter">
                        <div class="slider-track" id="track-A"></div>
                            <input type="range" min="1" max="96" value="1" id="slider-1">
                            <input type="range" min="1" max="96" value="96" id="slider-2">
                    </div>
                    <div class="input-filter">
                        <label for="start_top">Start: </label>
                        <input type="text" id="start_top"readonly>
                        <label for="start_bottom">-</label>
                        <input type="text" id="start_bottom" value="" readonly>
                    </div>
                </div>
                <div class="wrapper_filter">
                    <div class="container_filter">
                        <div class="slider-track" id="track-B"></div>
                            <input type="range" min="1" max="96" value="1" id="slider-3">
                            <input type="range" min="1" max="96" value="96" id="slider-4">
                    </div>
                    <div class="input-filter">
                        <label for="start_top">End: </label>
                        <input type="text" id="end_top"readonly>
                        <label for="start_bottom">-</label>
                        <input type="text" id="end_bottom" value="" readonly>
                    </div>
                </div>
            </div>
            <div class="card-header">
                Finished?
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="button" id="AddMeetingField" value="Add a Filter">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-9">
@foreach(var mod in Model)
{
    if(!Searched_Club.Contains(mod.ClubId))
    {
        Console.WriteLine("If this is true, something is very wrong: {0}\n", Searched_Club.Contains(mod.ClubId));
        Console.WriteLine("Current ID:{0}\n",(mod.ClubId));
        int[] CountClubs = new int[7];
        for(int i = 0; i< 7; i++)
        {
            CountClubs[i] = 0;
        }
        foreach(var meet in Model)
        {
            if(mod.ClubId == meet.ClubId)
                {
                    var eval = meet.MeetingDay;
                    switch (eval)
                    {
                        case "Sunday":
                            CountClubs[0] = CountClubs[0] + 1;
                            break;

                        case "Monday":
                            CountClubs[1] = CountClubs[1] + 1;
                            break;

                        case "Tuesday":
                            CountClubs[2] = CountClubs[2] + 1;
                            break;

                        case "Wednesday":
                            CountClubs[3] = CountClubs[3] + 1;
                            break;

                        case "Thursday":
                            CountClubs[4] = CountClubs[4] + 1;
                            break;

                        case "Friday":
                            CountClubs[5] = CountClubs[5] + 1;
                            break;

                        case "Saturday":
                            CountClubs[6] = CountClubs[6] + 1;
                            break;

                        default:
                            break;
                    }
                }
        }
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title text-center">@Html.DisplayFor(modelItem => mod.ClubName)</h5>
            </div>
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Club ID: @Html.DisplayFor(modelItem => mod.ClubId)</small></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i<7;i++)
                            {
                                int day_span = CountClubs[i];
                                if(day_span == 0)
                                {
                                    day_span++;
                                }
                                String str = day_span.ToString();
                                String meet_day = "";
                                @switch (i)
                                {
                                    case 0:
                                        meet_day = "Sunday";
                                        break;
                                    case 1:
                                        meet_day = "Monday";
                                        break;
                                    case 2:
                                        meet_day = "Tuesday";
                                        break;
                                    case 3:
                                        meet_day = "Wednesday";
                                        break;
                                    case 4:
                                        meet_day = "Thursday";
                                        break;
                                    case 5:
                                        meet_day = "Friday";
                                        break;
                                    case 6:
                                        meet_day = "Saturday";
                                        break;
                                    default:
                                        meet_day = "";
                                        break;
                                }
                                int Continue = CountClubs[i];
                                @foreach(var time in Model)
                                {
                                    @if (CountClubs[i] == 0)
                                    {
                                        <tr>
                                            <th scope="row" rowspan="@str">@(meet_day)</th>
                                            <td colspan="3" class="text-center"><i>Not Meeting</i></td>
                                        </tr>
                                        break;
                                    }
                                    @if (time.ClubId == mod.ClubId && time.MeetingDay == meet_day)
                                    {
                                        <tr>
                                            @if (@Continue == CountClubs[i])
                                            {
                                                <th scope="row" rowspan="@str">@(meet_day)</th>
                                            }
                                            @if (CountClubs[i] == 0)
                                            {
                                                <td colspan="3">"Not Meeting"</td>
                                            }
                                            else
                                            {
                                                <td>@Html.DisplayFor(modelItem => time.StartTime)</td>;
                                                <td>@Html.DisplayFor(modelItem => time.EndTime)</td>;
                                                <td>@Html.DisplayFor(modelItem => time.LocationName)</td>;
                                            }
                                        </tr>
                                        Continue--;
                                        if(Continue <= 0)
                                        {
                                            break;
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted">
                    Date Created: @Html.DisplayFor(modelItem => mod.DateClubCreated)
                </div>
            </div>
        </div>
        Searched_Club.Add(mod.ClubId);
        Searched_Club.ForEach(p => Console.WriteLine(p));
        Console.WriteLine("\n");
        Console.WriteLine("The Current Capacity of the List is:{0}", Searched_Club.Capacity);
    }
}
    </div>
</div>

<script type="text/javascript" src="~/js/filter.js"></script>